@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Fonts
$font1: 'Lato', sans-serif;

// = Colors
// -----------------------------

$colors: (   
        black-soft:#1a2732,
        black-light:#3c3c3c,
        gray: #646464,
        gray-form:rgba(91, 100, 110, 0.5),
        gray-light: #f6f6f6,
        gray-dark: #c9c9ca,
);

// Graphic chart
$red: #df2e30;
$blue: #1894c4;
$facebook: #3b5998;
$twitter: #43bfe1;

