.clients{
    padding-top:5%;
    padding-bottom:20%;
    margin-top:5%;
    @include background-image(url("/img/banner.png"), url("img/banner.png")); 
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    @include media($mobile) { 
        padding-bottom: 100%;
    }
    .section-content{
        margin-top: 3%;
        p,h1{
            color:#ffffff;   
        }
    }
}
.clients-container{
    @include span-columns(10);
    @include shift(1);
    padding-top:5%;   
    padding-bottom:5%;   
}
.clients-img{
    @include center-hor;
    @include span-columns(2 of 10);
    padding: 3%;
    @include media($mobile) { 
        margin-top:6%;
        @include span-columns(4 of 10);
        @include shift(3);
    }
}