.clients{
    padding-top:5%;
    padding-bottom:20%;
    margin-top:5%;
   background-image: url("img/banner-min.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    @include media($tablet) {    
   background-image: url("img/banner-sm-min.png");
    }
    @include media($mobile) { 
        padding-bottom: 100%;
   background-image: url("img/banner-xs-min.png");
    }
    .section-content{
        margin-top: 3%;
        .section-header, .header-text{
            color:#ffffff;   
        }
    }
}
.clients-container{
    @include span-columns(10);
    @include shift(1);
    padding-top:5%;   
    padding-bottom:5%;   
}
.clients-img{
    @include center-hor;
    @include span-columns(2 of 10);
    padding: 3%;
    @include media($mobile) { 
        margin-top:6%;
        @include span-columns(4 of 10);
        @include shift(3);
    }
}