
.box-wrapper{
@include span-columns(3);
@include media($mobile) { 
@include span-columns(8);
}
}
.box{
    background-position: center top, center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:10px;
    height:226px;
    @include span-columns(3 of 3);
    @include media($laptop) {  
        height: 181px;
    }
    @include media($tablet) {  
        height: 136px;
    }
    @include media($mobile) { 
        @include span-columns(8 of 8);
        height:226px;
        margin-top:10px;
    } 
}
.box1{
background-image: url("img/team1-min.png");
}
.box2{
background-image: url("img/team2-min.png");
}
.box3{
background-image: url("img/team3-min.png");
}
.box4{
    @extend .box1;
}
.box-first-header,
.box-second-header{
        text-align: left;
}
.box-first-header{
    font-weight: bold;
    font-size: 14px;
    color: #282528;
    margin:0;
    margin-top:245px;
    @include media($laptop) {  
        margin-top:200px;
    }
    @include media($tablet) {  
        margin-top:150px;
    }
    @include media($mobile) { 
      text-align: center;
    }
    
}
.box-second-header{
    margin-top:5px;
    color:   #646464;
    font-size: 11px;
    text-align: left;
    font-weight: 100;
    @include media($mobile) { 
    text-align: center;
    }
}
.team{ 
    .icons{
@include transition(all 2s ease-in-out);
     @include center-hor;
    width: 100%;
    height: 100%; 
    }
    .icon{
        @include transition(all 2s ease-in-out);
        color:transparent;
        display: inline-block;   
        margin-left:2%;
        margin-right:2%;
        margin-top:43%;
        padding:3%;
        &:hover{
        cursor: pointer;
        }
    }
    .box{
        
         &:hover{
            
             .icons{
                         background-color: white;
                         background-color:rgba(233, 87, 63, 0.9);
             }
            
        .icon{
                 @include transition(all 2s ease-in-out);
                 color:white;
                 background-color:#ea6751;
                 background-color:rgba(255, 255, 255, 0.3);

        }
    }
        @include media($mobile) { 
            @include center-hor; 
            width: 226px;
            float:none;
        }
    }
}
     .box-first-header{
                @include media($mobile) { 
                margin:0;
                margin-top:10px;
                padding:0;  
            }
     }