
.hidden{
    display:none;
}
.main-header{ 
min-height: 100vh;
  background: url(img/bg.png) no-repeat center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      @include media($tablet) { 
       background: url(img/bg.png) no-repeat bottom center; 
}
   img{
      @include center-hor;
      padding-top:30px;
   
  }
}
.arrow-box{
  @include center-hor;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    -webkit-animation: bounce 2s infinite ease-in-out;
}
@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}
.first-header,.second-header,.third-header{
       @include center-hor;
         text-transform: uppercase;
         color:#1a2732;
}
  .first-header{
      margin-top:0;
      font-size: 3.6vw;
      font-weight: 700;
      padding-top:44vh;
      letter-spacing:7px;
      @include media($tablet) { 
        padding-top:20%; 
}    
      @include media($mobile) { 
        padding-top:13vh;   
}
  }
.third-header{
    font-size:0.8em;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    padding:20px;
    max-width: 800px;
    font-weight:bolder;
    letter-spacing:1px;
    line-height: 29px;
     @include media($mobile) { 
       font-size:0.6em;
}   
  }